.up{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #FF2E65;
    border-radius: 100%;
    right: 200px;
    bottom: 100px;
    cursor: pointer;
    z-index: 100;
    svg{
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        
    }
}