.stock__items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.stock__item{
    width: 32%;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 14px;
    padding: 20px;
}
.stock__wrapper{
    margin-top: 30px;
}