.background__top{
    position: absolute;
    left: -60px;
    top: 0;
    z-index: -1;
}

.new__items{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.new__title{
    font-size: 24px;
    line-height: 29px;
    color: #231F20;
    margin-bottom: 33px;
}
.new__item{
    width: 25%;
    height: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
    display: flex;
    gap: 25px;
    padding: 14px 17px;
    cursor: pointer;
    transition: all 0.3s;
    &__img{
        max-width: 70px;
    }
    &__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__titel{
        font-weight: 700;
        font-size: 17px;
        line-height: 22px;
        color: #000000;
    }
    &__price{
        font-size: 16px;
        line-height: 20px;
        color: #FF2E65;
    }
    &:hover{
        border: solid 2px #FF2E65;
        transform: scale(1.05);
    }
}